::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}



*{
    padding:0px;
    margin:0px;
    border:0px;
}
@font-face
{
    font-family:myfont;
    src:url('../fonts/ANegaarRegular.ttf') format('ttf'),url('../fonts/ANegaarRegular.woff') format('woff');
}

body
{
    direction:rtl;
    background-color:rgb(252,252,252);
    background:url("../img/A 26-21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:myfont;
}

#logocontainer
{
height:180px;
width:400px;
margin-left:auto;
margin-right:auto;
}
#wrapper
{
/*position:relative;*/
margin-left:auto;
margin-right:auto;
width:1260px;
position: relative;
}


#main
{
    width:1260px;
    height:210px;
    visibility: hidden;
    
}
#beforepagemain
{
top:0;
position:absolute;
left:315px;
width:630px;
height:420px;
}
.submenu
{
    float:right;
    width:120px;
    height:120px;
    background-position: center;
    background-repeat:no-repeat;
    position:absolute;
   
}
.menu
{
    float:right;
    width:200px;
    height:200px;
    margin:5px;

  
}
#subhome
{
background-image:url("../img/Home.png");
transition-duration:0.4s;
}
#subaboutus
{
    background-image: url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice
{
background-image:url("../img/Our services.png");
transition-duration:0.4s;
}
#subproducts
{
background-image:url("../img/Samples.png");
transition-duration:0.4s;
}
#subblog
{
background-image:url("../img/Recent news.png");
transition-duration:0.4s;
}
#submail
{
background-image:url("../img/Contact us.png");
transition-duration:0.4s;
}
/*------------------------------------*/
#subhome:hover
{
background-image:url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus:hover
{
background-image:url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice:hover
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts:hover
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog:hover
{
background-image:url("../img/Recent news_over.png");
transition-duration:0.4s;
}
#submail:hover
{
background-image:url("../img/Contact us_over.png");
transition-duration:0.4s;
}
.submenu:hover
{
    /*background-color:rgb(254,204,93);*/
    transition-duration:0.4s;
    opacity:0.8;
}
#main p
{
text-align:center;
margin-top:170px;
opacity:0;
}
#content
{
/*position:absolute;*/
width:1260px;
height:400px;
z-index:1;
background-color:rgba(20,20,20,0.7);
transform:translate(1500px,0px);
-webkit-transform:translate(1500px,0px);
border-radius:10px ;
}
/*----------------------------------------*/
.aboutuscontent
{
    float:right;
    width:617px;
    margin:5px;
    height:390px;
    position:relative;
    overflow:hidden;
}
.aboutuscontenttitle
{
font-weight:700 ;
font-style: oblique;
margin:10px ;
}
.aboutuscontent1
{

float: right;
}
#aboutuscontent1pictrue{
    margin:5px ;
    width:250px;
}
#aboutuscontent1text{
    margin:5px;
    width:330px;
    height:300px ;
    overflow:auto;
    text-align: justify;
    padding: 5px;
}

.aboutusconten2
{
float:right;
width:280px;
height:160px;
margin:3px;
border:3px solid beige;
overflow: hidden;
}
.aboutusconten2:hover
{
cursor:pointer;
border:3px solid yellow;
}

#aboutuscontent2{
overflow: auto;
}

.black{
visibility:hidden;
position:fixed;
top:0%;
left:0%;
width:100%;
height:100%;
z-index:1001;
transition-duration:1s;
    /*background-color:rgba(0,0,0,0.6);*/
}
.picture
{
    visibility:hidden;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -425px;
    z-index:1002;
}

.black:hover
{
    cursor: pointer;
}
/*----------------------------------------*/
.footer
{
    padding-top: 10px;
    text-align:center;
    background: rgba(200, 200, 200, 0.7);
}

#footername
{
    margin-top:20px;
    font-weight:700;
}
#footertelefon {
    margin-bottom: 10px;
}