body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body::-ms-scrollbar {
    width: 1em;
}

body::-ms-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-ms-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}



*{
    padding:0px;
    margin:0px;
    border:0px;
}

@font-face
{
    font-family:myfont;
    src:url('../fonts/ANegaarRegular.ttf') format('ttf'),url('../fonts/ANegaarRegular.woff') format('woff');
}


body
{
    direction:rtl;
    background-color:rgb(252,252,252);
    background:url("../img/A 26-21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:myfont;
}

#logocontainer
{
height:180px;
width:400px;
margin-left:auto;
margin-right:auto;
}
#wrapper
{
/*position:relative;*/
margin-left:auto;
margin-right:auto;
width:1260px;
height: 610px;
position:relative;
}

#main
{
    width:1260px;
    height:210px;
    visibility:hidden;
}
#beforepagemain
{
top:0;
position:absolute;
left:315px;
width:630px;
height:420px;
}
.submenu
{
    float:right;
    width:120px;
    height:120px;
    background-position: center;
    background-repeat:no-repeat;
    position:absolute;
   
}
.menu
{
    float:right;
    width:200px;
    height:200px;
    margin:5px;

  
}
#subhome
{
background-image: url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus
{
background-image:url("../img/About us.png");
transition-duration:0.4s;
}
#subservice
{
background-image:url("../img/Our services.png");
transition-duration:0.4s;
}
#subproducts
{
background-image:url("../img/Samples.png");
transition-duration:0.4s;
}
#subblog
{
background-image:url("../img/Recent news.png");
transition-duration:0.4s;
}
#submail
{
background-image:url("../img/Contact us.png");
transition-duration:0.4s;
}
/*------------------------------------*/
#subhome:hover
{
background-image:url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus:hover
{
background-image:url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice:hover
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts:hover
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog:hover
{
background-image:url("../img/Recent news_over.png");
transition-duration:0.4s;
}
#submail:hover
{
background-image:url("../img/Contact us_over.png");
transition-duration:0.4s;
}
.submenu:hover
{
    /*background-color:rgb(254,204,93);*/
    transition-duration:0.4s;
    opacity:0.8;
}
#main p
{
text-align:center;
margin-top:170px;
opacity:0;
}
#content
{
width:1260px;
height:400px;
background-color:rgba(20,20,20,0.7);
transform:translate(1500px,0px);
transition-duration:2s ;
position:absolute ;
border-radius:10px ;
}
.homecontent
{
float:right;
width:302px;
margin:5px;
height:390px;
position:relative;
}
#homecontent1{
    width: 500px;
}
#homecontent2{
    width: 212px;
}
#homecontent3{
    width: 202px;
    overflow: auto;
}
.homecontenttitle
{
font-style:oblique;
font-weight:600;
margin:10px ;
}
.homecontent1
{
float:right;
width:100px;
margin:5px;
height:340px;

}
#homecontent1text{
    width: 250px;
    height: 300px;
    text-align: justify;
    overflow: auto;
    direction: ltr;
    padding: 5px;
}
#homecontent1picture{
    width: 210px;
    height:248px ;
    margin-top: 10px;
    border:3px solid beige;
    border-radius: 5px;
    overflow: hidden;

}


.homecontentmore
{
clear:both;
position:absolute;
left:5px;
bottom:5px;
text-decoration: none;
    color: chartreuse;
}
#homecontent2table
{

}

#homecontent2table ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

#homecontent2table ul li a {
    color: #50D4FD;
    text-decoration: none;

}

.homecontent3
{
    margin-right:10px;
    padding: 5px;
    margin-top: 10px;

}
.homecontent3title
{
font-weight:500;
color:white;
}
.homecontent3text
{
   color:yellowgreen;
    text-align:justify;
    margin-top:5px;
}

#homecontent4text
{
    width:270px;
    margin-right:10px;
    padding: 5px;
    height: 300px;
    margin-top:10px;
    direction: ltr;
    overflow: auto;


}
/*-----------------------*/
.homemore
{
    width:1260px;
    height:400px;
    background-color:rgba(20,20,20,0.7);
    position: absolute;
    transform:translate(1500px,0px) ;
    transition-duration: 2s;
    border-radius:10px;
    visibility: hidden;
}
.homemoretitle
{
    font-style:oblique;
    font-weight:600;
    margin:10px ;
}
.homemoretext{
    font-size:20px;
    margin:10px ;
    text-align: justify;
    color: #dff1ff;
    overflow: auto;
}

.homemoreback {
    position: absolute;
    left: 5px;
    bottom: 5px;
    text-decoration: none;
    color: #dff1ff;
}
/*-----------------------*/
#footerdiv{


}

.footer
{
    padding-top: 10px;
    text-align:center;
    background: rgba(200, 200, 200, 0.7);
}

#footername
{
    margin-top:20px;
    font-weight:700;
}
#footertelefon {
    margin-bottom: 10px;
}