::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

*{
    padding:0px;
    margin:0px;
    border:0px;
}

@font-face
{
    font-family:myfont;
    src:url('../fonts/ANegaarRegular.ttf') format('ttf'),url('../fonts/ANegaarRegular.woff') format('woff');
}


body
{
    direction:rtl;
    background-color:rgb(252,252,252);
    background:url("../img/A 26-21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:myfont;
}

#logocontainer
{
height:130px;
width:320px;
margin-left:auto;
margin-right:auto;
}
#wrapper
{
/*position:relative;*/
margin-left:auto;
margin-right:auto;
width:1260px;
height: 610px;
position:relative;
}

#main
{
    width:1260px;
    height:210px;
    visibility:hidden;
}
#beforepagemain
{
top:0;
position:absolute;
left:315px;
width:630px;
height:420px;
}
.submenu
{
    float:right;
    width:120px;
    height:120px;
    background-position: center;
    background-repeat:no-repeat;
    position:absolute;
   
}
.menu
{
    float:right;
    width:200px;
    height:200px;
    margin:5px;

  
}
#subhome
{
background-image: url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus
{
background-image:url("../img/About us.png");
transition-duration:0.4s;
}
#subservice
{
background-image:url("../img/Our services.png");
transition-duration:0.4s;
}
#subproducts
{
background-image:url("../img/Samples.png");
transition-duration:0.4s;
}
#subblog
{
background-image:url("../img/Recent news.png");
transition-duration:0.4s;
}
#submail
{
background-image:url("../img/Contact us.png");
transition-duration:0.4s;
}
/*------------------------------------*/
#subhome:hover
{
background-image:url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus:hover
{
background-image:url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice:hover
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts:hover
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog:hover
{
background-image:url("../img/Recent news_over.png");
transition-duration:0.4s;
}
#submail:hover
{
background-image:url("../img/Contact us_over.png");
transition-duration:0.4s;
}
.submenu:hover
{
    /*background-color:rgb(254,204,93);*/
    transition-duration:0.4s;
    opacity:0.8;
}
#main p
{
text-align:center;
margin-top:170px;
opacity:0;
}
#content
{
width:1260px;
height:400px;
background-color:rgba(20,20,20,0.7);
transform:translate(1500px,0px);
transition-duration:2s ;
position:absolute ;
border-radius:10px ;
}
.homecontent
{
float:right;
margin:5px;
height:390px;
position:relative;
}
#homecontent1{
    width: 500px;
    border-left: 1px double #b2b2b2;
}
#homecontent2{
    margin-right: 20px;
    width: 212px;
    border-left: 1px double #b2b2b2;
}
#homecontent3{
    width: 202px;
    overflow: auto;
    border-left: 1px double #b2b2b2;
}
.homecontenttitle
{
font-style:oblique;
font-weight:700;
margin:10px ;
}
.homecontent1
{
float:right;
width:100px;
margin:5px;
height:340px;

}
#homecontent1text{
    width: 240px;
    height: 280px;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    color: #dff1ff;
    overflow: auto;
}

#homecontent1picture{
    width: 210px;
    height:248px ;
    margin-top: 10px;
    border:3px solid beige;
    border-radius: 5px;
    overflow: hidden;
}


.homecontentmore
{
clear:both;
position:absolute;
left: 10px;
bottom: 3px;
text-decoration: none;
color: #B7B7B7;
}

.homecontentmore:hover {
    color: #048CAD;
    transform: scale(1.15, 1.15);
    -moz-transform: scale(1.2, 1.2);
}

#homecontent2table
{

}

#homecontent2table ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

#homecontent2table ul li a {
    color: #50D4FD;
    text-decoration: none;
}

#homecontent2table ul li:hover {
    color: #000000;
    transition-duration: 0.3s;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);

}

.homecontent3
{
    margin-right:10px;
    padding: 5px;
    margin-top: 10px;

}
.homecontent3title
{
font-weight:500;
color:white;
}
.homecontent3text
{
   color:yellowgreen;
    text-align:justify;
    margin-top:5px;
}

#homecontent4text
{
    width: 260px;
    height: 300px;
    direction: rtl;
    overflow: auto;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    color: #dff1ff;

}
/*-----------------------*/
.homemore
{
    width:1260px;
    height:400px;
    background-color:rgba(20,20,20,0.7);
    position: absolute;
    transform:translate(1500px,0px) ;
    transition-duration: 2s;
    border-radius:10px;
    visibility: hidden;
}
.homemoretitle
{
    font-style:oblique;
    font-weight:700;
    margin:10px ;
}
.homemoretext{
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    color: #dff1ff;
    overflow: auto;
}

.homemoreback {
    font-weight: 700;
    position: absolute;
    left: 10px;
    bottom: 3px;
    text-decoration: none;
    color: #B7B7B7;
}

.homemoreback:hover {
    color: #048CAD;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}
/*-----------------------*/
#footerdiv{


}

.footer
{
    padding-top: 10px;
    text-align:center;
    background: rgba(200, 200, 200, 0.7);
}

#footername
{
    margin-top:20px;
    font-weight:700;
}
#footertelefon {
    margin-bottom: 10px;
}