::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

*{
    padding:0px;
    margin:0px;
    border:0px;
}
@font-face
{
    font-family:myfont;
    src:url('../fonts/ANegaarRegular.ttf') format('ttf'),url('../fonts/ANegaarRegular.woff') format('woff');
}

body
{
    direction:rtl;
    background-color:rgb(252,252,252);
    background:url("../img/A 26-21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:myfont;
}

#logocontainer
{
    height:130px;
    width:320px;
margin-left:auto;
margin-right:auto;
}
#wrapper
{
/*position:relative;*/
margin-left:auto;
margin-right:auto;
width:1260px;
height: 610px;
position: relative;
}

#main
{
    width:1260px;
    height:210px;
    visibility: hidden;
}
#beforepagemain
{
top:0;
position:absolute;
left:315px;
width:630px;
height:420px;
}
.submenu
{
    float:right;
    width:120px;
    height:120px;
    background-position: center;
    background-repeat:no-repeat;
    position:absolute;
   
}
.menu
{
    float:right;
    width:200px;
    height:200px;
    margin:5px;

  
}
#subhome
{
background-image:url("../img/Home.png");
transition-duration:0.4s;
}
#subaboutus
{
background-image:url("../img/About us.png");
transition-duration:0.4s;
}
#subservice
{
background-image:url("../img/Our services.png");
transition-duration:0.4s;
}
#subproducts
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog
{
background-image:url("../img/Recent news.png");
transition-duration:0.4s;
}
#submail
{
background-image:url("../img/Contact us.png");
transition-duration:0.4s;
}
/*------------------------------------*/
#subhome:hover
{
background-image:url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus:hover
{
background-image:url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice:hover
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts:hover
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog:hover
{
background-image:url("../img/Recent news_over.png");
transition-duration:0.4s;
}
#submail:hover
{
background-image:url("../img/Contact us_over.png");
transition-duration:0.4s;
}
.submenu:hover
{
    /*background-color:rgb(254,204,93);*/
    transition-duration:0.4s;
    opacity:0.8;
}
#main p
{
text-align:center;
margin-top:170px;
opacity:0;
}
#content
{
position:absolute;
width:1260px;
height:400px;
z-index:1;
background-color:rgba(20,20,20,0.7);
transform:translate(1500px,0px);
-webkit-transform:translate(1500px,0px);
border-radius:10px;
}
/*----------------------------------------*/
#ourprodutstitle{
    font-size:20px;
    height:30px ;
    margin:10px;
    color: #f5f5f5;
}
#ourproductscontent{
    height:350px;

}
.pictureandtext{
    float: right;
    width: 292px;
    height: 330px;
    margin: 10px;
}
.picture{
    height:200px;
    border:3px solid beige;
    margin:10px;
    overflow: hidden;
}
.ourproductstext{
    position:relative;
    height:100px;

    margin:10px;


}
.ourproductstext a{
    text-decoration:none;
}
.ourproductslink
{
    text-decoration: none;
    color: #B7B7B7;

}
.ourproductslinktext
{
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
    top:30%;

}
.ourproductslinktext:hover {
    color: #048CAD;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}

/*----------------------------------------*/
.ourproductsmore
{
    width:1240px;
    height:380px;
    background-color:rgba(20,20,20,0.7);
    position: absolute;
    transform:translate(1500px,0px) ;
    transition-duration: 2s;
    border-radius:10px;
    visibility: hidden;
    padding:10px;


}
.ourproductsmoretext{
    font-size:20px;
    height:360px;
    text-align: justify;
    color: #dff1ff;
    overflow: auto;

}
.ourproductsmoreback {
    font-weight: 700;
    position: absolute;
    left: 10px;
    bottom: 3px;
    text-decoration: none;
    color: #B7B7B7;
}

.ourproductsmoreback:hover {
    color: #048CAD;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}
/*----------------------------------------*/
.footer
{
    padding-top: 10px;
    text-align:center;
    background: rgba(200, 200, 200, 0.7);
}

#footername
{
    margin-top:20px;
    font-weight:700;
}
#footertelefon {
    margin-bottom: 10px;
}