*{
    padding:0px;
    margin:0px;
    border:0px;
}
@font-face
{
    font-family:myfont;
    src:url('../fonts/ANegaarRegular.ttf') format('ttf'),url('../fonts/ANegaarRegular.woff') format('woff');
}

body
{
    direction:rtl;
    background-color:rgb(252,252,252);
    background:url("../img/A 26-21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:myfont;
}

#logocontainer
{
height:180px;
width:400px;
margin-left:auto;
margin-right:auto;
}
#wrapper
{
/*position:relative;*/
margin-left:auto;
margin-right:auto;
width:1260px;
}

#menuthispage
{
position:relative;
}

#main
{
    width:1260px;
    height:210px;
    visibility: hidden;
}
#beforepagemain
{
top:0;
position:absolute;
left:315px;
width:630px;
height:420px;
}
.submenu
{
    float:right;
    width:120px;
    height:120px;
    background-position: center;
    background-repeat:no-repeat;
    position:fixed;
   
}
.menu
{
    float:right;
    width:200px;
    height:200px;
    margin:5px;

  
}
#subhome
{
background-image:url("../img/Home.png");
transition-duration:0.4s;
}
#subaboutus
{
background-image:url("../img/About us.png");
transition-duration:0.4s;
}
#subservice
{
background-image:url("../img/Our services.png");
transition-duration:0.4s;
}
#subproducts
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog
{
background-image:url("../img/Recent news.png");
transition-duration:0.4s;
}
#submail
{
background-image:url("../img/Contact us.png");
transition-duration:0.4s;
}
/*------------------------------------*/
#subhome:hover
{
background-image:url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus:hover
{
background-image:url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice:hover
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts:hover
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog:hover
{
background-image:url("../img/Recent news_over.png");
transition-duration:0.4s;
}
#submail:hover
{
background-image:url("../img/Contact us_over.png");
transition-duration:0.4s;
}
.submenu:hover
{
    /*background-color:rgb(254,204,93);*/
    transition-duration:0.4s;
    opacity:0.8;
}
#main p
{
text-align:center;
margin-top:170px;
opacity:0;
}
#content
{
/*position:absolute;*/
width:1260px;
height:400px;
z-index:1;
background-color:rgba(20,20,20,0.5);
transform:translate(1500px,0px);
-webkit-transform:translate(1500px,0px);
}
/*----------------------------------------*/
#ourprodutstitle{
    font-size:20px;
    height:30px ;
    margin:20px;
}
#ourproductscontent{
    height:350px;
    border:1px solid black;
}
.pictureandtext{
    float: right;
    width: 292px;
    height: 330px;
    margin: 10px;
    border:1px solid black;
}
.picture{
    height:200px;
    border:1px solid black;
    margin:10px;
}
.ourproductstext{
    height:100px;
    border:1px solid black;
    margin:10px;
}
.ourproductstext a{
    text-decoration:none;
}


/*----------------------------------------*/
.footer
{
    padding-top: 10px;
    text-align:center;
    background: rgba(200, 200, 200, 0.7);
}

#footername
{
    margin-top:20px;
    font-weight:700;
}
#footertelefon {
    margin-bottom: 10px;
}