*{
    padding:0px;
    margin:0px;
    border:0px;
}
@font-face
{
    font-family:myfont;
    src:url('../fonts/ANegaarRegular.ttf') format('ttf'),url('../fonts/ANegaarRegular.woff') format('woff');
}

body
{
    direction:rtl;
    background-color:rgb(252,252,252);
    background:url("../img/A 26-21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:myfont;
}

#logocontainer
{
height:180px;
width:400px;
margin-left:auto;
margin-right:auto;
}
#wrapper
{
/*position:relative;*/
margin-left:auto;
margin-right:auto;
width:1260px;
    height: 610px;
position: relative;
}



#main
{
    width:1260px;
    height:210px;
    visibility: hidden;
    
}
#beforepagemain
{
top:0;
position:absolute;
left:315px;
width:630px;
height:420px;
}
.submenu
{
    float:right;
    width:120px;
    height:120px;
    background-position: center;
    background-repeat:no-repeat;
    position:absolute;
   
}
.menu
{
    float:right;
    width:200px;
    height:200px;
    margin:5px;
}
#subhome
{
background-image:url("../img/Home.png");
transition-duration:0.4s;
}
#subaboutus
{
background-image:url("../img/About us.png");
transition-duration:0.4s;
}
#subservice
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts
{
background-image:url("../img/Samples.png");
transition-duration:0.4s;
}
#subblog
{
background-image:url("../img/Recent news.png");
transition-duration:0.4s;
}
#submail
{
background-image:url("../img/Contact us.png");
transition-duration:0.4s;
}
/*------------------------------------*/
#subhome:hover
{
background-image:url("../img/Home_over.png");
transition-duration:0.4s;
}
#subaboutus:hover
{
background-image:url("../img/About us_over.png");
transition-duration:0.4s;
}
#subservice:hover
{
background-image:url("../img/Our services_over.png");
transition-duration:0.4s;
}
#subproducts:hover
{
background-image:url("../img/Samples_over.png");
transition-duration:0.4s;
}
#subblog:hover
{
background-image:url("../img/Recent news_over.png");
transition-duration:0.4s;
}
#submail:hover
{
background-image:url("../img/Contact us_over.png");
transition-duration:0.4s;
}
.submenu:hover
{
    /*background-color:rgb(254,204,93);*/
    transition-duration:0.4s;
    opacity:0.8;
}
#main p
{
text-align:center;
margin-top:170px;
opacity:0;
}
#content
{
position:absolute;
width:1260px;
height:400px;
z-index:1;
background-color:rgba(20,20,20,0.7);
transform:translate(1500px,0px);
-webkit-transform:translate(1500px,0px);
border-radius:10px;
}
/*----------------------------------------*/
.servicescontent
{
    float:right;
    width:617px;
    margin:5px;
    height:190px;
    position:relative;
    overflow:hidden;
}
.servisespicture{
    float:right;
}
.servicestext{
    margin-right: 100px;
}

.sservicesreadmore
{
    clear:both;
    position:absolute;
    left: 10px;
    bottom: 3px;
    text-decoration: none;
    color: #B7B7B7;
}
.sservicesreadmore:hover {
    color: #048CAD;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}
/*-----------------------*/
.servicesmore
{
    width:1260px;
    height:400px;
    background-color:rgba(20,20,20,0.7);
    position: absolute;
    transform:translate(1500px,0px) ;
    transition-duration: 2s;
    border-radius:10px;
    visibility: hidden;
}
.servicesmoretitle
{
    font-style:oblique;
    font-weight:700;
    margin:10px ;
}
.servicesmoretext{
    font-size:20px;
    margin-right:10px ;
    margin-left:10px ;
    text-align: justify;
    color: #dff1ff;
    overflow: auto;
}

.servicesmoreback {
    font-weight: 700;
    position: absolute;
    left: 10px;
    bottom: 3px;
    text-decoration: none;
    color: #B7B7B7;
}

.servicesmoreback:hover {
    color: #048CAD;
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}
/*-----------------------*/
/*----------------------------------------*/
.footer
{
    padding-top: 10px;
    text-align:center;
    background: rgba(200, 200, 200, 0.7);
}

#footername
{
    margin-top:20px;
    font-weight:700;
}
#footertelefon {
    margin-bottom: 10px;
}