# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 

# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes
.DS_Store

# Exclude .idea FOLDER
.idea
 
# Exclude Text Files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude Fonts
# fonts/


# Exclude PHPSTORM .idea folder
.idea
